# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# next.js
.next/
.next.bak-*/
out/

# production
build/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env
.env*.local
.env

# local PCS setup files
pacificvis*_setup.csv

# editor
.vscode/
.idea/

# deployment
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts
